@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #EDEEF0;
    font-family: Ruda,Rubik,Arial, Helvetica, sans-serif;
}

.menu {
    z-index: 1001;
    position: fixed;
    list-style: none;
    padding: 0;
    margin-left: 15%;
    margin-top: 8%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.menu li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}

.menu li a{
    font-family: Ruda,Rubik,Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;
}


.menu li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

#item1::before {
    background-image: url(../images/profile-icon.png);
    background-size: cover;
}

#item2::before {
    background-image: url(../images/news-feed-icon.png);
    background-size: cover;
}

#item3::before {
    background-image: url(../images/chat-icon.png);
    background-size: cover;
}

#item4::before {
    background-image: url(../images/admin.png);
    background-size: cover;
}



.admin-menu {
    position: relative;
}

.admin-dropdown {
    
    display: none;
    position: absolute;
    left: auto; /* Убираем автоматическое выравнивание слева */
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40%;
    margin-bottom: 100%;
}

.admin-menu:hover .admin-dropdown {
    display: block;
}

/* Дополнительные стили (по желанию) */
.admin-dropdown li {
    padding: 5px 10px;
}

.admin-dropdown a {
    display: block;
    text-decoration: none;
    text-decoration: none;
}